python-dotenv~=1.1.1
pandas
tk
pymysql
pillow
Image
ImageTk
os-sys
pytest-shutil
pylab-sdk
matplotlib
DateTime
pyperclip
# docs and templates
configparser
python-docx
docxtpl
docx
# AI
requests
openai
python-dotenv
dotenv